<!-- List carousel -->

<div	 data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-test.path="${properties.apiPath}"
     data-api-path="${properties.apiPath}"
     class="cmp-carousel-slider">
     <section class="regular slider">
	      <!--  <div> 
	      <img src="/content/dam/summit-s230/leslie-jones/leslie-jones.png">
	      <h4>Leslie Jones</h4>
	    </div>
	    <div>
	      <img src="/content/dam/summit-s230/leslie-jones/leslie-jones.png">
	      <h4>Leslie Jones</h4>
	    </div>
	    <div>
	      <img src="/content/dam/summit-s230/leslie-jones/leslie-jones.png">
	      <h4>Leslie Jones</h4>
	    </div>
	    <div>
	      <img src="/content/dam/summit-s230/richard-branson/branson.png">
	      <h4>Richard Branson</h4>
	    </div>
	    <div>
	      <img src="/content/dam/summit-s230/richard-branson/branson.png">
	      <h4>Richard Branson</h4>
	    </div>
	    <div>
	      <img src="/content/dam/summit-s230/richard-branson/branson.png">
	      <h4>Richard Branson</h4>
	    </div>-->
    </section>
</div>

<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!path}"></sly> 