# Eclipse
.classpath
.project
.settings/

# Intelli J
.idea/
*.iml
*.iws

dwsync.xml

_notes/
temp/
tmp/
# Misc

www/
plugins/
node_modules*
.sourcemaps/
app/platforms/android/
app/platforms/ios/

core/target
ui.apps/target

# OS Files
.DS_Store
.brackets.json
*.class
