<!--/* Header Component for WKND Site 
 
*/-->
 
<header class="wknd-header">
	<div class="container">
		<a class="wknd-header-logo" href="${properties.rootPath || currentStyle.rootPath @ extension='html'}"><img src="/etc.clientlibs/summit-l731/clientlibs/clientlib-site/resources/summit-logo.png" /></a>
    	<div class="cmp-search--header" data-sly-resource="${'search' @ resourceType='summit-l731/components/structure/search'}"></div>
    	<div class="cmp-navigation--header" id="header-navbar" data-sly-resource="${'navigation' @ resourceType='summit-l731/components/structure/navigation'}"></div>	
	</div>
</header>