.page-sme-overview{
  background-image: url('../assets/images/home-background.png');
  ion-header {
    .toolbar-title {
      font-weight: 200;
    }
    .rightButton ion-icon {
      content: url('../assets/images/logo-login.png');
      height: 25px;
      width: 25px;
    }
  }
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .hero-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    padding:26px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .category-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    padding:26px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .hero-img{
    //-webkit-filter: blur(10px);
    //-moz-filter: blur(10px);
    //-o-filter: blur(10px);
    //-ms-filter: blur(10px);
    //filter: blur(10px);
  }

  .category-img{
    //-webkit-filter: blur(2px);
    //-moz-filter: blur(2px);
    //-o-filter: blur(2px);
    //-ms-filter: blur(2px);
    //filter: blur(2px);
  }


}