.page-faq{

  background-image: url('../assets/images/home-background.png');
  ion-header {
    .toolbar-title {
      font-weight: 200;
    }
    .rightButton ion-icon {
      content: url('../assets/images/logo-login.png');
      height: 25px;
      width: 25px;
    }
  }

  ion-card-title {
    position: relative;
    text-align: center;
    color: #3EBDC2;
    font-weight: bolder;
  }

  ion-card-content {
    text-align: left;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	-webkit-transition: max-height .5s;
	-o-transition: max-height .5s;
	transition: max-height .5s;
	&.active {
		max-height: 10em;
		padding: 16px;
	}
  }
  

  .faq-name {
    color: #3EBDC2;
    font-weight: bolder;

  }

}