/* CF Speaker Bio */

.cmp-cf-speaker {
	
	.cmp-contentfragment__element-label {
		display: none;
	}
	
	.cmp-contentfragment__element--speakerName {
		font-size: 40pt; 
	}
	
	.cmp-contentfragment__element--speakerImage {
		display: none;
	}
	.cmp-contentfragment__element--speakerDOB {
		font-family: @font-family-sans-serif;
		color: #666;
	}
	
	.cmp-speaker-img {
		float: left;
		position: relative;
		margin-right: 1.5em;
		cursor: pointer;
    		transition: all 0.3s ease;
    		overflow:hidden;
		
		.border-box-highlight {
			position: absolute;
		    height: 100%;
		    top: 20px;
		    left: 20px;
		    right: 20px;
		    border: 1px solid #4ECDC4;
		}
	}
	

}